@font-face {
  font-family: "black";
  src: url("../fonts/SevenOneEight-Black.ttf");
}

@font-face {
  font-family: "light";
  src: url("../fonts/SevenOneEight-Light.ttf");
}

@font-face {
  font-family: "book";
  src: url("../fonts/SevenOneEight-Book.ttf");
}

@font-face {
  font-family: "extraBold";
  src: url("../fonts/SevenOneEight-ExtraBold.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "medium";
  src: url("../fonts/SevenOneEight-Medium.ttf");
}
