@import "./_variables";
@import "./_fonts";
@import "./_placeholders";

body {
  background-color: $bg-color-light;
  padding-top: 10px;
  margin: 0;
}

section {
  @extend %div-center;
  @extend %flex-column;
  min-height: 100vh;
}

// ************************  HEADER  ************************ //
.container-title {
  height: auto;
  h1 {
    margin: 0;
    font-family: "extraBold";
    font-size: 30px;
    color: $color-red;
    text-align: center;
  }
  h2 {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "book";
    text-align: center;
  }
  .header-line {
    margin-top: 15px;
    height: 5px;
    width: 15%;
    background-color: $bg-color-dark;
    margin: auto;
  }
}

// ************************ FILTER ************************ //
.container-filter {
  @extend %div-center;
  @extend %flex-center;
  align-items: center;
  height: 20vh;
  .custom-select {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 17%;
    height: 30%;
    padding: 0px 15px;
    img {
      width: 25px;
      color: $color-red;
    }
    span {
      font-family: "book";
      margin: 0 auto;
      font-size: 18px;
    }
  }
}
.arrow-select {
  display: flex;
  align-items: center;
  height: 30%;
  padding: 0px 15px;
  background-color: #fff;
  margin-left: 3px;
  img {
    transform: rotate(90deg);
    width: 13px;
  }
}

// ************************ MAIN  ************************ //

// *************** Container Card ***************//
.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

// ***** Card *****//
.card {
  width: 32%;
  @extend %flex-column;
  margin-bottom: 15px;
}

// *************** Card Poster *************** //
.card-poster {
  height: 200px;
  img {
    box-sizing: border-box;
    width: 100%;
    height: 200px;
  }
  .slider-inactive {
    display: none;
  }
  .slider-active {
    display: block;
    animation: fade 0.8s;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

// ***** Card Container Poster *****//
.container-poster {
  position: relative;
}

// Buttons Slider
.previous-slide,
.next-slide {
  font-family: "light";
  position: absolute;
  background-color: #444444bd;
  color: #fff;
  height: 25px;
  width: 25px;
  font-size: 24px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.previous-slide {
  left: 5px;
  top: 50%;
}

.next-slide {
  right: 5px;
  top: 50%;
}

// Container upto
.upto-element {
  font-family: "extraBold";
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

// *************** Card Body *************** //
.card-body {
  width: 100%;
  flex-grow: 1;
  background-color: #fff;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
}

// ***** Card Body Infos *****//
.card-body-infos {
  flex-grow: 1;
  @extend %flex-column;
  .card-body-element {
    flex: 1 1 0;
    padding: 5px 0px;
  }
  .card-body-infos-label {
    display: flex;
  }
}

// ***** Card Body Label *****//

.card-body-infos-label {
  display: flex;
  align-items: center;
}

.container-rating {
  display: inline-block;
}

.country {
  font-family: "extraBold";
}
.place {
  font-family: "book";
}

.label {
  font-family: "book";
  margin-right: 5px;
}

// ***** Card Body Infos Tags *****//
.card-body-infos-tags {
  display: flex;
  .tag {
    color: #fff;
    padding: 5px;
    font-family: "light";
    text-transform: uppercase;
    font-size: 10px;
  }
  .tag-premium {
    background-color: $bg-tag-premium;
    margin-right: 15px;
  }
  .tag-option {
    background-color: $bg-tag-option;
  }
}

// ***** Card Body Button *****//
.card-body-button {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  .btnRedirect {
    width: 55%;
    height: 45%;
    background-color: $color-red;
    color: #fff;
    outline: none;
    border: none;
    font-size: 25px;
    font-family: "light";
  }
}

// ************************ FOOTER ************************ //
footer {
  @extend %div-center;
  position: sticky;
  background-color: $bg-color-dark;
  height: 10%;
  color: #fff;
  font-size: 12px;
  padding: 6px 0px;
  p {
    font-family: "book";
    text-align: center;
  }
  span {
    font-family: "extraBold";
  }
  .footer-line {
    height: 3px;
    width: 15%;
    background-color: $color-red;
    margin: auto;
  }
}

// ************************ MEDIA QUERIES ************************ //
@media (max-width: 1224px) {
  .container-filter {
    .custom-select {
      width: 17%;
      height: 30%;
      img {
        width: 20px;
      }
      span {
        font-size: 15px;
      }
    }
  }
  .arrow-select {
    img {
      width: 12px;
    }
  }
  .country,
  .label,
  .place {
    font-size: 12px;
  }
  .card-body-infos-label {
    div {
      span {
        svg {
          width: 11px;
        }
      }
    }
  }
  .card-body-button {
    width: 20%;
    .btnRedirect {
      width: 55%;
      height: 40%;
      font-size: 18px;
    }
  }
}

@media (max-width: 1024px) {
  .container-card {
    flex-direction: column;
    .card {
      margin: 0 auto;
      margin-bottom: 10px;
      width: 62%;
      height: 50%;
    }
  }
  .container-filter {
    .custom-select {
      width: 20%;
      height: 30%;
      img {
        width: 22px;
      }
      span {
        font-size: 15px;
      }
    }
  }
  .arrow-select {
    img {
      width: 10px;
    }
  }
  .country,
  .label,
  .place {
    font-size: 15px;
  }
  .card-body-button {
    width: 20%;
    .btnRedirect {
      width: 55%;
      height: 55%;
      font-size: 18px;
    }
  }
  footer {
    width: 50%;
  }
}

@media (max-width: 760px) {
  .container-filter {
    .custom-select {
      width: 30%;
      height: 30%;
      img {
        width: 18px;
      }
      span {
        font-size: 15px;
      }
    }
  }
  .arrow-select {
    img {
      width: 10px;
    }
  }
  .container-card {
    .card {
      width: 75%;
      height: 50%;
    }
  }
  footer {
    width: 61%;
  }
}
