@font-face {
  font-family: "black";
  src: url("../fonts/SevenOneEight-Black.ttf");
}

@font-face {
  font-family: "light";
  src: url("../fonts/SevenOneEight-Light.ttf");
}

@font-face {
  font-family: "book";
  src: url("../fonts/SevenOneEight-Book.ttf");
}

@font-face {
  font-family: "extraBold";
  src: url("../fonts/SevenOneEight-ExtraBold.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "medium";
  src: url("../fonts/SevenOneEight-Medium.ttf");
}

.container-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section, .card, .card-body-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section, .container-filter, footer {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #efefef;
  padding-top: 10px;
  margin: 0;
}

section {
  min-height: 100vh;
}

.container-title {
  height: auto;
}

.container-title h1 {
  margin: 0;
  font-family: "extraBold";
  font-size: 30px;
  color: #e23022;
  text-align: center;
}

.container-title h2 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-family: "book";
  text-align: center;
}

.container-title .header-line {
  margin-top: 15px;
  height: 5px;
  width: 15%;
  background-color: #333333;
  margin: auto;
}

.container-filter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vh;
}

.container-filter .custom-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 17%;
  height: 30%;
  padding: 0px 15px;
}

.container-filter .custom-select img {
  width: 25px;
  color: #e23022;
}

.container-filter .custom-select span {
  font-family: "book";
  margin: 0 auto;
  font-size: 18px;
}

.arrow-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30%;
  padding: 0px 15px;
  background-color: #fff;
  margin-left: 3px;
}

.arrow-select img {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 13px;
}

.container-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  width: 32%;
  margin-bottom: 15px;
}

.card-poster {
  height: 200px;
}

.card-poster img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 200px;
}

.card-poster .slider-inactive {
  display: none;
}

.card-poster .slider-active {
  display: block;
  -webkit-animation: fade 0.8s;
          animation: fade 0.8s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container-poster {
  position: relative;
}

.previous-slide,
.next-slide {
  font-family: "light";
  position: absolute;
  background-color: #444444bd;
  color: #fff;
  height: 25px;
  width: 25px;
  font-size: 24px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.previous-slide:hover,
.next-slide:hover {
  opacity: 0.8;
}

.previous-slide {
  left: 5px;
  top: 50%;
}

.next-slide {
  right: 5px;
  top: 50%;
}

.upto-element {
  font-family: "extraBold";
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.card-body {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-body-infos {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card-body-infos .card-body-element {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  padding: 5px 0px;
}

.card-body-infos .card-body-infos-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-body-infos-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-rating {
  display: inline-block;
}

.country {
  font-family: "extraBold";
}

.place {
  font-family: "book";
}

.label {
  font-family: "book";
  margin-right: 5px;
}

.card-body-infos-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-body-infos-tags .tag {
  color: #fff;
  padding: 5px;
  font-family: "light";
  text-transform: uppercase;
  font-size: 10px;
}

.card-body-infos-tags .tag-premium {
  background-color: #000000;
  margin-right: 15px;
}

.card-body-infos-tags .tag-option {
  background-color: #bd9c6a;
}

.card-body-button {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-body-button .btnRedirect {
  width: 55%;
  height: 45%;
  background-color: #e23022;
  color: #fff;
  outline: none;
  border: none;
  font-size: 25px;
  font-family: "light";
}

footer {
  position: -webkit-sticky;
  position: sticky;
  background-color: #333333;
  height: 10%;
  color: #fff;
  font-size: 12px;
  padding: 6px 0px;
}

footer p {
  font-family: "book";
  text-align: center;
}

footer span {
  font-family: "extraBold";
}

footer .footer-line {
  height: 3px;
  width: 15%;
  background-color: #e23022;
  margin: auto;
}

@media (max-width: 1224px) {
  .container-filter .custom-select {
    width: 17%;
    height: 30%;
  }
  .container-filter .custom-select img {
    width: 20px;
  }
  .container-filter .custom-select span {
    font-size: 15px;
  }
  .arrow-select img {
    width: 12px;
  }
  .country,
  .label,
  .place {
    font-size: 12px;
  }
  .card-body-infos-label div span svg {
    width: 11px;
  }
  .card-body-button {
    width: 20%;
  }
  .card-body-button .btnRedirect {
    width: 55%;
    height: 40%;
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .container-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container-card .card {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 62%;
    height: 50%;
  }
  .container-filter .custom-select {
    width: 20%;
    height: 30%;
  }
  .container-filter .custom-select img {
    width: 22px;
  }
  .container-filter .custom-select span {
    font-size: 15px;
  }
  .arrow-select img {
    width: 10px;
  }
  .country,
  .label,
  .place {
    font-size: 15px;
  }
  .card-body-button {
    width: 20%;
  }
  .card-body-button .btnRedirect {
    width: 55%;
    height: 55%;
    font-size: 18px;
  }
  footer {
    width: 50%;
  }
}

@media (max-width: 760px) {
  .container-filter .custom-select {
    width: 30%;
    height: 30%;
  }
  .container-filter .custom-select img {
    width: 18px;
  }
  .container-filter .custom-select span {
    font-size: 15px;
  }
  .arrow-select img {
    width: 10px;
  }
  .container-card .card {
    width: 75%;
    height: 50%;
  }
  footer {
    width: 61%;
  }
}
/*# sourceMappingURL=style.css.map */